$gOrange: #F7901E;
$darkBlue: #104E65;
$medBlue: #4593B2;
$lightBlue: #A5E5FE;
$brown: #3D352C;

body {
  background-color: $darkBlue;
}

header {
  height: 40px;
  width: 100%;
  background-color: $medBlue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  a {
    color: black;
  }

}

.g {
  color: $gOrange;
}

.splash {
  margin: 50px auto;
  width: 60%;
  font-size: 60px;
  text-align: center;
}

.lb{
  color: $lightBlue;
}

.slack {
  background-color: white;
  padding: 3px;
  border-radius: 4px;
  position: relative;
  margin-bottom: 6px;
}

.ctn {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px 50px;
}
