<% include ../partials/head %>

<nav class="sidenav lb">
  <ul>
    <li><a href="#" class="item">Home</a></li>
    <li><a href="#" class="item">About</a></li>
    <li><a href="#" class="item">Profile</a></li>
    <li><a href="#" class="item">Logout</a></li>
  </ul>
</nav>
<main>
  <div class="ui grid full_width">
    <div class="center aligned three column row">
      <div class="six wide column">
        <div class="userbox">
          <h2>PEECHIZ</h2>
          <img class="avatar" src="http://www.fillmurray.com/200/200">
          <ul class="user">
            <li>Wins: 4</li>
            <li>Losses: 5</li>
            <li>Money: $1000</li>
          </ul>
        </div>
      </div>
      <div class="six wide column">
        <div class="userbox">
          <h2>CASTRO</h2>
          <img class="avatar" src="http://www.fillmurray.com/200/200">
          <ul class="user">
            <li>Wins: 1</li>
            <li>Losses: 4</li>
            <li>Money: $20</li>
          </ul>
        </div>
      </div>
      <div class="four wide column">
        <form action="/" method="POST">
          <label>Choose your loser</label>
          <input name="opponents" list="opponents">
          <datalist id="opponents">
            <% user.forEach(function(user){ %>
              <option value=<%=user.username%>>
            <% }); %>
          </datalist>
          <input type="submit" name="opponents" value="Submit">
        </form>
      </div>
    </div>
    <form class="" action="" method="post">

    </form>
    <div class="center aligned twelve wide column">
      <input class="ui button fightbutton" type="submit" name="name" value="FIGHT!">
    </div>
  </div>
</main>





<% include ../partials/tail %>
