<% include ../partials/head %>

<nav class="sidenav lb">
  <ul>
    <li class="selected"><a href="#" class="item">Home</a></li>
    <li><a href="#" class="item">About</a></li>
    <li><a href="#" class="active item">Profile</a></li>
    <li><a href="#" class="item">Logout</a></li>
  </ul>
</nav>

<main>
  <div class="ui two column grid full_width">
    <div class="column ctr">
      <h3>Top Players</h3>
      <hr>

      <div class="top5">
        <ol>
          <li>
            <div class="playerstat">
              <img src="http://fillmurray.com/200/200" alt="">
              <div class="info">
                <p>Ed</p>
                <ul>
                  <li>Wins: 500</li>
                  <li>Losses: 5</li>
                </ul>
              </div>
            </div>
          </li>
          <li><img src="http://fillmurray.com/200/200" alt=""></li>
          <li><img src="http://fillmurray.com/200/200" alt=""></li>
          <li><img src="http://fillmurray.com/200/200" alt=""></li>
          <li><img src="http://fillmurray.com/200/200" alt=""></li>
        </ol>
      </div>
    </div>
    <div class="column ctr">
      <h3>Top Fighter</h3>
      <hr>
      <h3>Most Deaths</h3>
      <hr>
    </div>
  </div>
</main>

<% include ../partials/tail %>
