<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>gFight!</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css" />
  <link rel="stylesheet" href="../css/style.css">
  <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
  <script src="https://use.typekit.net/pdf1gwa.js"></script>
  <script>
    try {
      Typekit.load({
        async: true
      });
    } catch (e) {}
  </script>
</head>

<body>
  <header class="top">
    <span class="g">g</span>Fight!
  </header>
  <nav class="sidenav lb">
    <ul>
      <li><a href="#" class="item">Home</a></li>
      <li><a href="#" class="item">About</a></li>
      <li><a href="#" class="active item">Profile</a></li>
      <li><a href="#" class="item">Logout</a></li>
    </ul>
  </nav>
  <main>
    <div class="userbox">
      <img class="avatar" src="http://placecage.com/gif/150/150">
      <ul class="user">
        <li>User:</li>
        <li>Wins:</li>
        <li>Losses:</li>
        <li>Gold:</li>
      </ul>
    </div>
    <div class="tablebox">
      <table class="ui very basic celled table">
        <thead>
          <tr>
            <th>Fighter</th>
            <th colspan="2">Weapons</th>
            <th colspan="2">Record</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="center aligned">
              <a class="ui big image label">
                <img src="http://fillmurray.com/50/50">
                Dax
              </a>
            </td>
            <td>
              Axe body spray
            </td>
            <td>
              +1
            </td>
            <td>
              Wins: 5
            </td>
            <td>
              <button class="ui button">FIGHT!</button>
            </td>
          </tr>
          <tr>
            <td class="center aligned">
              <a class="ui big image label">
                <img src="http://fillmurray.com/50/50">
                Dax
              </a>
            </td>
            <td>
              Axe body spray
            </td>
            <td>
              +1
            </td>
            <td>
              Wins: 5
            </td>
            <td>
              <button class="ui button">FIGHT!</button>
            </td>
          </tr>
        </tbody>
      </table>
      <button class="ui button">Buy Fighter $100</button>
    </div>
  </main>

</body>

</html>



<!-- <% include ../partials/head %>

<div class="sidebar">
  <p>Jimmy!</p>
  <div class="ui secondary vertical menu">
    <a href="#" class="item">Home</a>
    <a href="#" class="item">About</a>
    <a href="#" class="active item">Profile</a>
    <a href="#" class="item">Logout</a>
  </div>
</div>

<main>
  <div class="ui grid">
    <div class="four wide column">
    </div>
    <div class="twelve wide column">

    </div>
  </div>

  <div class="fighters">
    <table class="">
      <thead>
        <tr>
          <th>Fighter</th>
          <th colspan="2">Weapons</th>
          <th colspan="2">Record</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="center aligned">
            <a class="ui big image label">
              <img src="http://fillmurray.com/50/50">
              Dax
            </a>
          </td>
          <td>
            Axe body spray
          </td>
          <td>
            +1
          </td>
          <td>
            Wins: 5
          </td>
          <td>
            <button class="ui button">FIGHT!</button>
          </td>
        </tr>
        <tr>
          <td class="center aligned">
            <a class="ui big image label">
              <img src="http://fillmurray.com/50/50">
              Dax
            </a>
          </td>
          <td>
            Axe body spray
          </td>
          <td>
            +1
          </td>
          <td>
            Wins: 5
          </td>
          <td>
            <button class="ui button">FIGHT!</button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>

</main>

<% include ../partials/tail %> -->
