<% include ../partials/head %>

  <nav class="sidenav lb">
    <ul>
      <li><a href="#" class="item">Home</a></li>
      <li><a href="#" class="item">About</a></li>
      <li><a href="#" class="active item">Profile</a></li>
      <li><a href="#" class="item">Logout</a></li>
    </ul>
  </nav>
  <main>
    <div class="userbox">
      <img class="avatar" src="http://placecage.com/gif/150/150">
      <ul class="user">
        <li>User:</li>
        <li>Wins:</li>
        <li>Losses:</li>
        <li>Gold:</li>
      </ul>
    </div>
    <div class="tablebox">
      <table class="ui very basic celled table">
        <thead>
          <tr>
            <th>Fighter</th>
            <th colspan="2">Weapons</th>
            <th colspan="2">Record</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="center aligned">
              <a class="ui big image label">
                <img src="http://fillmurray.com/50/50">
                Dax
              </a>
            </td>
            <td>
              Axe body spray
            </td>
            <td>
              +1
            </td>
            <td>
              Wins: 5
            </td>
            <td>
              <button class="ui button">FIGHT!</button>
            </td>
          </tr>
          <tr>
            <td class="center aligned">
              <a class="ui big image label">
                <img src="http://fillmurray.com/50/50">
                Dax
              </a>
            </td>
            <td>
              Axe body spray
            </td>
            <td>
              +1
            </td>
            <td>
              Wins: 5
            </td>
            <td>
              <button class="ui button">FIGHT!</button>
            </td>
          </tr>
        </tbody>
      </table>
      <button class="ui button">Buy Fighter $100</button>
    </div>
  </main>

<% include ../partials/tail %>
